<section class="swiper-container d-flex swiper-container-initialized swiper-container-horizontal mb-5" aria-label="Screenshots role=" list="">
  <div class="swiper-wrapper d-flex my-3" role="listitem">
    {% for screenshot in include.screenshots %}
      <div class="swiper-slide {% if forloop.first %}swiper-slide-active{% endif %}">
        <figure class="text-center">
          <img src="{{ screenshot.url }}" alt="{{ screenshot.name }}">
          <figcaption class="mt-0">{{ screenshot.name }}</figcaption>
        </figure>
      </div>
    {% endfor %}
  </div>
  <div class="swiper-pagination swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
  <div class="swiper-button-prev swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></div>
  <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div>
  <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
</section>
