---
title:      "Introduction"
created_at: 2018-04-02 14:02:21 UTC
author:     Martin Kacej
layout:     post
---
<p style="text-align:justify;">Hello,</p>
<p>so here it is, my first blog post ever, so my first bigger project, contribution to open-source and Linux desktop ever.</p>
<p>My name is Martin, currently student of Mendel University in Brno, Czech Republic, and i am developing new setting module for Plasma Mobile project <a href="https://www.plasma-mobile.org/, " rel="nofollow">https://www.plasma-mobile.org/, </a> module which should be replacement for current KCM network settings.</p>
<p>Reason for replacement is that  current settings simply copied from desktop (<a href="https://github.com/KDE/plasma-nm/" rel="nofollow">https://github.com/KDE/plasma-nm/</a>), which UI are not targeted for mobile environment and together with other issues should be reworked and polished for end-user needs, see <a href="https://phabricator.kde.org/T6878" rel="nofollow">https://phabricator.kde.org/T6878</a> . The module will be part of plasma-settings, <a href="https://github.com/KDE/plasma-settings/" rel="nofollow">https://github.com/KDE/plasma-settings/</a></p>
<p>This project proposed me Jan Grulich (<a href="http://www.jgrulich.cz" rel="nofollow">http://www.jgrulich.cz</a>), developer of NetworkManager and desktop applet used in Fedora. He supports me with  mentorship a introducing to KDE development.</p>
<p>My own fork where i am developing module is on <a href="https://github.com/MartinKacej/plasma-nm" rel="nofollow">https://github.com/MartinKacej/plasma-nm</a>. I will be glad for your advices and help from end-user viewpoint , since i am mostly struggling on design part.</p>
<p>&nbsp;</p>
<p><img data-attachment-id="11" data-permalink="https://mkacej.wordpress.com/2018/04/02/the-journey-begins/kde-sh/" data-orig-file="https://mkacej.files.wordpress.com/2018/04/kde-sh.png?w=258&#038;h=262" data-orig-size="650,650" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="kde-sh" data-image-description="" data-medium-file="https://mkacej.files.wordpress.com/2018/04/kde-sh.png?w=258&#038;h=262?w=300" data-large-file="https://mkacej.files.wordpress.com/2018/04/kde-sh.png?w=258&#038;h=262?w=650" class="  wp-image-11 aligncenter" src="https://mkacej.files.wordpress.com/2018/04/kde-sh.png?w=258&#038;h=262" alt="kde-sh" width="258" height="262" /></p>
<p>&nbsp;</p>