---
layout: page
---

<h1>Posts</h1>

{% for post in site.posts %}
  <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
  <span class="post-date"><p class="muted">{{ post.date | date: "%b %-d, %Y" }}</p></span>
  <p class="post-conent">{{ post.content | strip_html | truncatewords: 50 }}</p>
{% endfor %}

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
