---
layout: default
---

<link href="https://cdn.kde.org/aether-devel/kde-org/applications.css" rel="stylesheet">

<style>.swiper-container, .swiper-slide picture {  height: 55vw; min-height: 340px; max-height: 540px; } .swiper-slide img { height: 45vw; min-height: 260px; max-height: 460px; } .swiper-pagination-bullet { width: 12px; height: 12px; } .swiper-slide { flex-shrink: initial; } main {overflow-x: hidden }</style>

<main class="container">
  <div class="w3-container">
    <div class="post-header">
      <h1>{{ page.title }}</h1>
      <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </div>
    <hr>

    <article class="post-content">
    {{ content }}
    </article>
  </div>
</main>
